#ChessBoard{
    width: 800px;
    height: 800px;
    border: solid red 1px;
    opacity: .5;
}
.blackbox {
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;

}
.white{
    width: 100px;
    height: 100px;
    background-color: white;
    float: left;

}
body{
    background-image:url("../images/car.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}